
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li><b>Email Host Address : </b>@ViewBag.AppSettingsEmailHostValue</li>
            <li><b>Default Connection String : </b>@ViewBag.ConnStrDefaultConnStrValue</li>
        </ul>
    </div>
</body>
</html>
